<link rel="stylesheet" href="products-page.component.css">
<h1><p align="center"> Productos </p> </h1>
<section class="contenido">
    <div class="mostrador" id="mostrador">
        <div class="fila">
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/1.png">
                </div>
                <p class="descripcion">Bolso para dama color amarillo</p>
                <span class="precio">$ 230</span>
            </div>
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/2.png" >
                </div>
                <p class="descripcion" id>Reloj para caballero</p>
                <span class="precio">$ 300</span>
            </div>
            
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/3.png" alt="">
                </div>
                <p class="descripcion">Collar para dama
                </p>
                <span class="precio">$ 320</span>
            </div>
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/4.png" alt="">
                </div>
                <p class="descripcion">Lapiz labial</p>
                <span class="precio">$ 240</span>
            </div>
        
        </div>
        <div class="fila">
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/5.png" alt="">
                </div>
                <p class="descripcion">Bolso de piel para dama</p>
                <span class="precio">$ 130</span>
            </div>
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/6.png" alt="">
                </div>
                <p class="descripcion">Reloj correa color blanco</p>
                <span class="precio">$ 350</span>
            </div>
            
            
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/7.png">
                </div>
                <p class="descripcion">Lapiz labial</p>
                <span class="precio">$ 200</span>
            </div>
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/8.png" alt="">
                </div>
                <p class="descripcion">Perfume para dama</p>
                <span class="precio">$ 500</span>
            </div>
</div>
        <div class="fila">
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/9.png" alt="">
                </div>
                <p class="descripcion">Pinta uñas</p>
                <span class="precio">$ 130</span>
            </div>
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/10.png" alt="">
                </div>
                <p class="descripcion">Desodorante Dove</p>
                <span class="precio">$ 300</span>
            </div>
            
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/11.png" alt="" width="200px" height="100px">
                </div>
                <p class="descripcion">Anillos</p>
                <span class="precio">$ 400</span>
            </div>
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/12.png" alt="">
                </div>
                <p class="descripcion">Molde para galletas de Hello Kitty</p>
                <span class="precio">$ 120</span>
            </div>
            </div>
      </div>
    </section>
    <!-- CONTENEDOR DEL ITEM SELECCIONADO -->
   
