<link rel="stylesheet" href="products-page.component.css">
<section class="contenido">
    <div class="mostrador" id="mostrador">
        <div class="fila">
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="..\src\assets\1.png" alt="">
                </div>
                <p class="descripcion">NIKE AIR 97</p>
                <span class="precio">$ 1.300</span>
            </div>
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="img/2.png" alt="">
                </div>
                <p class="descripcion" id>NIKE RUNNING TERRA </p>
                <span class="precio">$ 1.800</span>
            </div>
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="img/3.png" alt="">
                </div>
                <p class="descripcion">NIKE WINFLO 8
                </p>
                <span class="precio">$ 3.600</span>
            </div>
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="img/4.png" alt="">
                </div>
                <p class="descripcion">NIKE LOW-TOP</p>
                <span class="precio">$ 1.800</span>
            </div>
        </div>
        <div class="fila">
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="img/5.png" alt="">
                </div>
                <p class="descripcion">NIKE BLAZER 97</p>
                <span class="precio">$ 130</span>
            </div>
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="img/6.png" alt="">
                </div>
                <p class="descripcion">NIKE LEGEND ESENTIAL</p>
                <span class="precio">$ 2.000</span>
            </div>
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="img/7.png" alt="">
                </div>
                <p class="descripcion">NIKE AIR ZOOM</p>
                <span class="precio">$ 2.500</span>
            </div>
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="img/8.png" alt="">
                </div>
                <p class="descripcion">NIKE TERRA KING</p>
                <span class="precio">$ 1.800</span>
            </div>
        </div> 
    </div>
    <!-- CONTENEDOR DEL ITEM SELECCIONADO -->
   
</section>