<div class="html">
<div class="body">
    <main class="main">
        
        <section class="card-area">

            <!-- Card: City -->
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--city">

                               <h2 class="card-front__heading">
                                Tienda al
                            </h2>
                            <p class="card-front__text-price">
                                20%
                            </p>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--city">
                                        Ver
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                          
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--city">
                                Liquidación
                            </h3>
                            <p class="inside-page__text">
                                Toda la tienda a 20% de descuento
                            </p>
                            <a class="inside-page__btn inside-page__btn--city">Oferta de un dia</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Card: Ski -->
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--ski">
                                               <h2 class="card-front__heading">
                                                   Descuentos
                                               </h2>
                                               <p class="card-front__text-price">
                                                   desde 20%
                                               </p>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--ski">
                                        Ver
                                    </p>
                                </div>
                            </div>

                            <div class="card-back">
                                
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--ski">
                                Descuentos
                            </h3>
                            <p class="inside-page__text">
                               Productos selectos desde 20% a 50% de descuento
                            </p>
                            <a class="inside-page__btn inside-page__btn--ski">10-13 de junio</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Card: Beach -->
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--beach">
                                   
                                               <h2 class="card-front__heading">
                                                   Relojes
                                               </h2>
                                               <p class="card-front__text-price">
                                                   Desde $500
                                               </p>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--beach">
                                        Ver
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                            
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--beach">
                                Relojes para hombre
                            </h3>
                            <p class="inside-page__text">
                               Este dia del padre, regálele un reloj!
                            </p>
                            <a class="inside-page__btn inside-page__btn--beach">13-18 de junio</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Card: Camping -->
            <section class="card-section">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--camping">
                        
                                               <h2 class="card-front__heading">
                                                   Nuevos Productos
                                               </h2>
                                               <p class="card-front__text-price">
                                                   Desde $150
                                               </p>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--camping">
                                        Ver
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                                
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--camping">
                                Nueva linea de productos
                            </h3>
                            <p class="inside-page__text">
                                Desde cuidado de la piel a accesorios, desde $150
                            </p>
                            <a class="inside-page__btn inside-page__btn--camping">Hasta agotarse</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</div>
</div>
