<ul>
    <li>
      <a class="facebook" href="https://www.facebook.com/profile.php?id=100069117607882">
        <span></span>
        <span></span>
        <img src="/assets/facebook.png" height="20px" width="20px">
        <span></span>
        <span></span>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a class="twitter" href="tel:+6331136429">
        <span></span>
        <span></span>
        <img src="/assets/viber.png" height="20px" width="20px">
        <span></span>
        <span></span>
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a class="instagram" href="https://www.instagram.com/cbella54/">
        <span></span>
        <span></span>
        <img src="/assets/instagram.png" height="20px" width="20px">
        <span></span>
        <span></span>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a class="google" href="https://goo.gl/maps/pYrffXwQZdWXEuLPA" >
        <span></span>
        <span></span>
        <img src="/assets/placeholder.png"height="20px" width="20px">
        <span></span>
        <span></span>
        <i class="fa fa-google-plus" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
