<link rel="stylesheet" href="product-list.component.css">
<br><br>
<h1> <p align="center"> Productos destacados </p> </h1>  
<section class="contenido">
    <div class="mostrador" id="mostrador">
        <div class="fila">
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/1.png">
                </div>
                <p class="descripcion">Bolso para dama color amarillo</p>
                <span class="precio">$ 230</span>
            </div>
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/2.png" >
                </div>
                <p class="descripcion" id>Reloj para caballero</p>
                <span class="precio">$ 300</span>
            
            </div>
            
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/3.png" alt="">
                </div>
                <p class="descripcion">Collar para dama
                </p>
                <span class="precio">$ 320</span>
            </div>
            <div class="item" onclick="cargar(this)">
                <div class="contenedor-foto">
                    <img src="../assets/4.png" alt="">
                </div>
                <p class="descripcion">Lapiz labial</p>
                <span class="precio">$ 240</span>
            </div>
        </div>
        </div>
        </section>
        <br><br><br><br>